
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Control Panel</h1>

<div><a asp-controller="Admin" asp-action="AddRole">Add New Role</a></div>
<div><a asp-controller="Admin" asp-action="ListRoles">List All Roles</a></div>
