@model IList<BTRole>
@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error: </strong>ViewBag.ErrorMessage
    </div>
}
@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Admin" asp-action="AddRole">Add New Role</a>

    foreach (BTRole role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
                <p>@role.Description</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Admin" asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Roles Found
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddRole">
                Add New Role
            </a>
        </div>
    </div>
}